<%= form_with model: @list, local: true do |form| %>

    <% if @list.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@list.errors.count, "error") %> prohibited
          this list from being saved:
        </h2>
        <ul>
          <% @list.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, required: 'required' %>
    </p>

    <p>
      <%= form.label "Gift Type" %><br>
      <%= form.select :gift_type_id, @gift_types_select %>
    </p>


      <br/>
      <table style="width:100%" class = "table table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
         </tr>
        </thead>
        <tbody>
          <% for i in 0..4 do %>
          <tr>
            <td><input type="text" placeholder="Name" name="list[players][<%= i %>][name]"></td>

            <td><input type="email" placeholder="Email" name="list[players][<%= i %>][email]"></td>
         </tr>
          <% end %>

        </tbody>

      </table>

    <p>
      <%= form.submit %>
    </p>

  <% end %>