<div>
  <strong>Title:</strong>
  <%= @list.title %>
</div>
<br/>
<div>
  <strong>gift type:</strong>
  <%= @list.gift_type.name %>
</div>
<h2>Players</h2>
<table style="width:100%" class = "table table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>secret friend</th>
      <th>Email friend</th>
    </tr>
  </thead>
  <tbody>
    <% @list.player_lists.each do |item| %>
      <tr>
        <td>
          <%= item.player.id  %>
        </td>
        <td>
          <%= item.player.name  %>
        </td>
        <td>
          <%= item.player.email  %>
        </td>
         <td>
          <%= item.secret_friend ? item.secret_friend.name : 'No assigned' %>
        </td>
         <td>
          <%= item.secret_friend&.email  %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<a href="/lists/<%= @list.id %>/play" class="btn btn-primary">Play</a>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>




